@layer reset, base, tokens, recipes, utilities;

@layer base{
  :root {
    --made-with-panda: '🐼';
}

  *,::before,::after,::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
}
}

@layer tokens{
  :where(:root, :host) {
    --fe-xelix-aspect-ratios-square: 1 / 1;
    --fe-xelix-aspect-ratios-landscape: 4 / 3;
    --fe-xelix-aspect-ratios-portrait: 3 / 4;
    --fe-xelix-aspect-ratios-wide: 16 / 9;
    --fe-xelix-aspect-ratios-ultrawide: 18 / 5;
    --fe-xelix-aspect-ratios-golden: 1.618 / 1;
    --fe-xelix-borders-none: none;
    --fe-xelix-easings-default: cubic-bezier(0.4, 0, 0.2, 1);
    --fe-xelix-easings-linear: linear;
    --fe-xelix-easings-in: cubic-bezier(0.4, 0, 1, 1);
    --fe-xelix-easings-out: cubic-bezier(0, 0, 0.2, 1);
    --fe-xelix-easings-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --fe-xelix-durations-fastest: 50ms;
    --fe-xelix-durations-faster: 100ms;
    --fe-xelix-durations-fast: 150ms;
    --fe-xelix-durations-normal: 200ms;
    --fe-xelix-durations-slow: 300ms;
    --fe-xelix-durations-slower: 400ms;
    --fe-xelix-durations-slowest: 500ms;
    --fe-xelix-radii-xs: 0.125rem;
    --fe-xelix-radii-sm: 0.25rem;
    --fe-xelix-radii-md: 0.375rem;
    --fe-xelix-radii-lg: 0.5rem;
    --fe-xelix-radii-xl: 0.75rem;
    --fe-xelix-radii-2xl: 1rem;
    --fe-xelix-radii-3xl: 1.5rem;
    --fe-xelix-radii-4xl: 2rem;
    --fe-xelix-radii-full: 9999px;
    --fe-xelix-font-weights-thin: 100;
    --fe-xelix-font-weights-extralight: 200;
    --fe-xelix-font-weights-light: 300;
    --fe-xelix-font-weights-normal: 400;
    --fe-xelix-font-weights-medium: 500;
    --fe-xelix-font-weights-semibold: 600;
    --fe-xelix-font-weights-bold: 700;
    --fe-xelix-font-weights-extrabold: 800;
    --fe-xelix-font-weights-black: 900;
    --fe-xelix-line-heights-none: 1;
    --fe-xelix-line-heights-tight: 1.25;
    --fe-xelix-line-heights-snug: 1.375;
    --fe-xelix-line-heights-normal: 1.5;
    --fe-xelix-line-heights-relaxed: 1.625;
    --fe-xelix-line-heights-loose: 2;
    --fe-xelix-fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --fe-xelix-fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --fe-xelix-fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --fe-xelix-letter-spacings-tighter: -0.05em;
    --fe-xelix-letter-spacings-tight: -0.025em;
    --fe-xelix-letter-spacings-normal: 0em;
    --fe-xelix-letter-spacings-wide: 0.025em;
    --fe-xelix-letter-spacings-wider: 0.05em;
    --fe-xelix-letter-spacings-widest: 0.1em;
    --fe-xelix-font-sizes-2xs: 0.5rem;
    --fe-xelix-font-sizes-xs: 0.75rem;
    --fe-xelix-font-sizes-sm: 0.875rem;
    --fe-xelix-font-sizes-md: 1rem;
    --fe-xelix-font-sizes-lg: 1.125rem;
    --fe-xelix-font-sizes-xl: 1.25rem;
    --fe-xelix-font-sizes-2xl: 1.5rem;
    --fe-xelix-font-sizes-3xl: 1.875rem;
    --fe-xelix-font-sizes-4xl: 2.25rem;
    --fe-xelix-font-sizes-5xl: 3rem;
    --fe-xelix-font-sizes-6xl: 3.75rem;
    --fe-xelix-font-sizes-7xl: 4.5rem;
    --fe-xelix-font-sizes-8xl: 6rem;
    --fe-xelix-font-sizes-9xl: 8rem;
    --fe-xelix-shadows-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --fe-xelix-shadows-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --fe-xelix-shadows-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --fe-xelix-shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --fe-xelix-shadows-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --fe-xelix-shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --fe-xelix-shadows-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    --fe-xelix-colors-current: currentColor;
    --fe-xelix-colors-black: #000;
    --fe-xelix-colors-white: #fff;
    --fe-xelix-colors-transparent: rgb(0 0 0 / 0);
    --fe-xelix-colors-rose-50: #fff1f2;
    --fe-xelix-colors-rose-100: #ffe4e6;
    --fe-xelix-colors-rose-200: #fecdd3;
    --fe-xelix-colors-rose-300: #fda4af;
    --fe-xelix-colors-rose-400: #fb7185;
    --fe-xelix-colors-rose-500: #f43f5e;
    --fe-xelix-colors-rose-600: #e11d48;
    --fe-xelix-colors-rose-700: #be123c;
    --fe-xelix-colors-rose-800: #9f1239;
    --fe-xelix-colors-rose-900: #881337;
    --fe-xelix-colors-rose-950: #4c0519;
    --fe-xelix-colors-pink-50: #fdf2f8;
    --fe-xelix-colors-pink-100: #fce7f3;
    --fe-xelix-colors-pink-200: #fbcfe8;
    --fe-xelix-colors-pink-300: #f9a8d4;
    --fe-xelix-colors-pink-400: #f472b6;
    --fe-xelix-colors-pink-500: #ec4899;
    --fe-xelix-colors-pink-600: #db2777;
    --fe-xelix-colors-pink-700: #be185d;
    --fe-xelix-colors-pink-800: #9d174d;
    --fe-xelix-colors-pink-900: #831843;
    --fe-xelix-colors-pink-950: #500724;
    --fe-xelix-colors-fuchsia-50: #fdf4ff;
    --fe-xelix-colors-fuchsia-100: #fae8ff;
    --fe-xelix-colors-fuchsia-200: #f5d0fe;
    --fe-xelix-colors-fuchsia-300: #f0abfc;
    --fe-xelix-colors-fuchsia-400: #e879f9;
    --fe-xelix-colors-fuchsia-500: #d946ef;
    --fe-xelix-colors-fuchsia-600: #c026d3;
    --fe-xelix-colors-fuchsia-700: #a21caf;
    --fe-xelix-colors-fuchsia-800: #86198f;
    --fe-xelix-colors-fuchsia-900: #701a75;
    --fe-xelix-colors-fuchsia-950: #4a044e;
    --fe-xelix-colors-purple-50: #faf5ff;
    --fe-xelix-colors-purple-100: #f3e8ff;
    --fe-xelix-colors-purple-200: #e9d5ff;
    --fe-xelix-colors-purple-300: #d8b4fe;
    --fe-xelix-colors-purple-400: #c084fc;
    --fe-xelix-colors-purple-500: #a855f7;
    --fe-xelix-colors-purple-600: #9333ea;
    --fe-xelix-colors-purple-700: #7e22ce;
    --fe-xelix-colors-purple-800: #6b21a8;
    --fe-xelix-colors-purple-900: #581c87;
    --fe-xelix-colors-purple-950: #3b0764;
    --fe-xelix-colors-violet-50: #f5f3ff;
    --fe-xelix-colors-violet-100: #ede9fe;
    --fe-xelix-colors-violet-200: #ddd6fe;
    --fe-xelix-colors-violet-300: #c4b5fd;
    --fe-xelix-colors-violet-400: #a78bfa;
    --fe-xelix-colors-violet-500: #8b5cf6;
    --fe-xelix-colors-violet-600: #7c3aed;
    --fe-xelix-colors-violet-700: #6d28d9;
    --fe-xelix-colors-violet-800: #5b21b6;
    --fe-xelix-colors-violet-900: #4c1d95;
    --fe-xelix-colors-violet-950: #2e1065;
    --fe-xelix-colors-indigo-50: #eef2ff;
    --fe-xelix-colors-indigo-100: #e0e7ff;
    --fe-xelix-colors-indigo-200: #c7d2fe;
    --fe-xelix-colors-indigo-300: #a5b4fc;
    --fe-xelix-colors-indigo-400: #818cf8;
    --fe-xelix-colors-indigo-500: #6366f1;
    --fe-xelix-colors-indigo-600: #4f46e5;
    --fe-xelix-colors-indigo-700: #4338ca;
    --fe-xelix-colors-indigo-800: #3730a3;
    --fe-xelix-colors-indigo-900: #312e81;
    --fe-xelix-colors-indigo-950: #1e1b4b;
    --fe-xelix-colors-blue-50: #eff6ff;
    --fe-xelix-colors-blue-100: #dbeafe;
    --fe-xelix-colors-blue-200: #bfdbfe;
    --fe-xelix-colors-blue-300: #93c5fd;
    --fe-xelix-colors-blue-400: #60a5fa;
    --fe-xelix-colors-blue-500: #3b82f6;
    --fe-xelix-colors-blue-600: #2563eb;
    --fe-xelix-colors-blue-700: #1d4ed8;
    --fe-xelix-colors-blue-800: #1e40af;
    --fe-xelix-colors-blue-900: #1e3a8a;
    --fe-xelix-colors-blue-950: #172554;
    --fe-xelix-colors-sky-50: #f0f9ff;
    --fe-xelix-colors-sky-100: #e0f2fe;
    --fe-xelix-colors-sky-200: #bae6fd;
    --fe-xelix-colors-sky-300: #7dd3fc;
    --fe-xelix-colors-sky-400: #38bdf8;
    --fe-xelix-colors-sky-500: #0ea5e9;
    --fe-xelix-colors-sky-600: #0284c7;
    --fe-xelix-colors-sky-700: #0369a1;
    --fe-xelix-colors-sky-800: #075985;
    --fe-xelix-colors-sky-900: #0c4a6e;
    --fe-xelix-colors-sky-950: #082f49;
    --fe-xelix-colors-cyan-50: #ecfeff;
    --fe-xelix-colors-cyan-100: #cffafe;
    --fe-xelix-colors-cyan-200: #a5f3fc;
    --fe-xelix-colors-cyan-300: #67e8f9;
    --fe-xelix-colors-cyan-400: #22d3ee;
    --fe-xelix-colors-cyan-500: #06b6d4;
    --fe-xelix-colors-cyan-600: #0891b2;
    --fe-xelix-colors-cyan-700: #0e7490;
    --fe-xelix-colors-cyan-800: #155e75;
    --fe-xelix-colors-cyan-900: #164e63;
    --fe-xelix-colors-cyan-950: #083344;
    --fe-xelix-colors-teal-50: #f0fdfa;
    --fe-xelix-colors-teal-100: #ccfbf1;
    --fe-xelix-colors-teal-200: #99f6e4;
    --fe-xelix-colors-teal-300: #5eead4;
    --fe-xelix-colors-teal-400: #2dd4bf;
    --fe-xelix-colors-teal-500: #14b8a6;
    --fe-xelix-colors-teal-600: #0d9488;
    --fe-xelix-colors-teal-700: #0f766e;
    --fe-xelix-colors-teal-800: #115e59;
    --fe-xelix-colors-teal-900: #134e4a;
    --fe-xelix-colors-teal-950: #042f2e;
    --fe-xelix-colors-emerald-50: #ecfdf5;
    --fe-xelix-colors-emerald-100: #d1fae5;
    --fe-xelix-colors-emerald-200: #a7f3d0;
    --fe-xelix-colors-emerald-300: #6ee7b7;
    --fe-xelix-colors-emerald-400: #34d399;
    --fe-xelix-colors-emerald-500: #10b981;
    --fe-xelix-colors-emerald-600: #059669;
    --fe-xelix-colors-emerald-700: #047857;
    --fe-xelix-colors-emerald-800: #065f46;
    --fe-xelix-colors-emerald-900: #064e3b;
    --fe-xelix-colors-emerald-950: #022c22;
    --fe-xelix-colors-green-50: #f0fdf4;
    --fe-xelix-colors-green-100: #dcfce7;
    --fe-xelix-colors-green-200: #bbf7d0;
    --fe-xelix-colors-green-300: #86efac;
    --fe-xelix-colors-green-400: #4ade80;
    --fe-xelix-colors-green-500: #22c55e;
    --fe-xelix-colors-green-600: #16a34a;
    --fe-xelix-colors-green-700: #15803d;
    --fe-xelix-colors-green-800: #166534;
    --fe-xelix-colors-green-900: #14532d;
    --fe-xelix-colors-green-950: #052e16;
    --fe-xelix-colors-lime-50: #f7fee7;
    --fe-xelix-colors-lime-100: #ecfccb;
    --fe-xelix-colors-lime-200: #d9f99d;
    --fe-xelix-colors-lime-300: #bef264;
    --fe-xelix-colors-lime-400: #a3e635;
    --fe-xelix-colors-lime-500: #84cc16;
    --fe-xelix-colors-lime-600: #65a30d;
    --fe-xelix-colors-lime-700: #4d7c0f;
    --fe-xelix-colors-lime-800: #3f6212;
    --fe-xelix-colors-lime-900: #365314;
    --fe-xelix-colors-lime-950: #1a2e05;
    --fe-xelix-colors-yellow-50: #fefce8;
    --fe-xelix-colors-yellow-100: #fef9c3;
    --fe-xelix-colors-yellow-200: #fef08a;
    --fe-xelix-colors-yellow-300: #fde047;
    --fe-xelix-colors-yellow-400: #facc15;
    --fe-xelix-colors-yellow-500: #eab308;
    --fe-xelix-colors-yellow-600: #ca8a04;
    --fe-xelix-colors-yellow-700: #a16207;
    --fe-xelix-colors-yellow-800: #854d0e;
    --fe-xelix-colors-yellow-900: #713f12;
    --fe-xelix-colors-yellow-950: #422006;
    --fe-xelix-colors-amber-50: #fffbeb;
    --fe-xelix-colors-amber-100: #fef3c7;
    --fe-xelix-colors-amber-200: #fde68a;
    --fe-xelix-colors-amber-300: #fcd34d;
    --fe-xelix-colors-amber-400: #fbbf24;
    --fe-xelix-colors-amber-500: #f59e0b;
    --fe-xelix-colors-amber-600: #d97706;
    --fe-xelix-colors-amber-700: #b45309;
    --fe-xelix-colors-amber-800: #92400e;
    --fe-xelix-colors-amber-900: #78350f;
    --fe-xelix-colors-amber-950: #451a03;
    --fe-xelix-colors-orange-50: #fff7ed;
    --fe-xelix-colors-orange-100: #ffedd5;
    --fe-xelix-colors-orange-200: #fed7aa;
    --fe-xelix-colors-orange-300: #fdba74;
    --fe-xelix-colors-orange-400: #fb923c;
    --fe-xelix-colors-orange-500: #f97316;
    --fe-xelix-colors-orange-600: #ea580c;
    --fe-xelix-colors-orange-700: #c2410c;
    --fe-xelix-colors-orange-800: #9a3412;
    --fe-xelix-colors-orange-900: #7c2d12;
    --fe-xelix-colors-orange-950: #431407;
    --fe-xelix-colors-red-50: #fef2f2;
    --fe-xelix-colors-red-100: #fee2e2;
    --fe-xelix-colors-red-200: #fecaca;
    --fe-xelix-colors-red-300: #fca5a5;
    --fe-xelix-colors-red-400: #f87171;
    --fe-xelix-colors-red-500: #ef4444;
    --fe-xelix-colors-red-600: #dc2626;
    --fe-xelix-colors-red-700: #b91c1c;
    --fe-xelix-colors-red-800: #991b1b;
    --fe-xelix-colors-red-900: #7f1d1d;
    --fe-xelix-colors-red-950: #450a0a;
    --fe-xelix-colors-neutral-50: #fafafa;
    --fe-xelix-colors-neutral-100: #f5f5f5;
    --fe-xelix-colors-neutral-200: #e5e5e5;
    --fe-xelix-colors-neutral-300: #d4d4d4;
    --fe-xelix-colors-neutral-400: #a3a3a3;
    --fe-xelix-colors-neutral-500: #737373;
    --fe-xelix-colors-neutral-600: #525252;
    --fe-xelix-colors-neutral-700: #404040;
    --fe-xelix-colors-neutral-800: #262626;
    --fe-xelix-colors-neutral-900: #171717;
    --fe-xelix-colors-neutral-950: #0a0a0a;
    --fe-xelix-colors-stone-50: #fafaf9;
    --fe-xelix-colors-stone-100: #f5f5f4;
    --fe-xelix-colors-stone-200: #e7e5e4;
    --fe-xelix-colors-stone-300: #d6d3d1;
    --fe-xelix-colors-stone-400: #a8a29e;
    --fe-xelix-colors-stone-500: #78716c;
    --fe-xelix-colors-stone-600: #57534e;
    --fe-xelix-colors-stone-700: #44403c;
    --fe-xelix-colors-stone-800: #292524;
    --fe-xelix-colors-stone-900: #1c1917;
    --fe-xelix-colors-stone-950: #0c0a09;
    --fe-xelix-colors-zinc-50: #fafafa;
    --fe-xelix-colors-zinc-100: #f4f4f5;
    --fe-xelix-colors-zinc-200: #e4e4e7;
    --fe-xelix-colors-zinc-300: #d4d4d8;
    --fe-xelix-colors-zinc-400: #a1a1aa;
    --fe-xelix-colors-zinc-500: #71717a;
    --fe-xelix-colors-zinc-600: #52525b;
    --fe-xelix-colors-zinc-700: #3f3f46;
    --fe-xelix-colors-zinc-800: #27272a;
    --fe-xelix-colors-zinc-900: #18181b;
    --fe-xelix-colors-zinc-950: #09090b;
    --fe-xelix-colors-gray-50: #f9fafb;
    --fe-xelix-colors-gray-100: #f3f4f6;
    --fe-xelix-colors-gray-200: #e5e7eb;
    --fe-xelix-colors-gray-300: #d1d5db;
    --fe-xelix-colors-gray-400: #9ca3af;
    --fe-xelix-colors-gray-500: #6b7280;
    --fe-xelix-colors-gray-600: #4b5563;
    --fe-xelix-colors-gray-700: #374151;
    --fe-xelix-colors-gray-800: #1f2937;
    --fe-xelix-colors-gray-900: #111827;
    --fe-xelix-colors-gray-950: #030712;
    --fe-xelix-colors-slate-50: #f8fafc;
    --fe-xelix-colors-slate-100: #f1f5f9;
    --fe-xelix-colors-slate-200: #e2e8f0;
    --fe-xelix-colors-slate-300: #cbd5e1;
    --fe-xelix-colors-slate-400: #94a3b8;
    --fe-xelix-colors-slate-500: #64748b;
    --fe-xelix-colors-slate-600: #475569;
    --fe-xelix-colors-slate-700: #334155;
    --fe-xelix-colors-slate-800: #1e293b;
    --fe-xelix-colors-slate-900: #0f172a;
    --fe-xelix-colors-slate-950: #020617;
    --fe-xelix-blurs-sm: 4px;
    --fe-xelix-blurs-base: 8px;
    --fe-xelix-blurs-md: 12px;
    --fe-xelix-blurs-lg: 16px;
    --fe-xelix-blurs-xl: 24px;
    --fe-xelix-blurs-2xl: 40px;
    --fe-xelix-blurs-3xl: 64px;
    --fe-xelix-spacing-0: 0rem;
    --fe-xelix-spacing-1: 0.25rem;
    --fe-xelix-spacing-2: 0.5rem;
    --fe-xelix-spacing-3: 0.75rem;
    --fe-xelix-spacing-4: 1rem;
    --fe-xelix-spacing-5: 1.25rem;
    --fe-xelix-spacing-6: 1.5rem;
    --fe-xelix-spacing-7: 1.75rem;
    --fe-xelix-spacing-8: 2rem;
    --fe-xelix-spacing-9: 2.25rem;
    --fe-xelix-spacing-10: 2.5rem;
    --fe-xelix-spacing-11: 2.75rem;
    --fe-xelix-spacing-12: 3rem;
    --fe-xelix-spacing-14: 3.5rem;
    --fe-xelix-spacing-16: 4rem;
    --fe-xelix-spacing-20: 5rem;
    --fe-xelix-spacing-24: 6rem;
    --fe-xelix-spacing-28: 7rem;
    --fe-xelix-spacing-32: 8rem;
    --fe-xelix-spacing-36: 9rem;
    --fe-xelix-spacing-40: 10rem;
    --fe-xelix-spacing-44: 11rem;
    --fe-xelix-spacing-48: 12rem;
    --fe-xelix-spacing-52: 13rem;
    --fe-xelix-spacing-56: 14rem;
    --fe-xelix-spacing-60: 15rem;
    --fe-xelix-spacing-64: 16rem;
    --fe-xelix-spacing-72: 18rem;
    --fe-xelix-spacing-80: 20rem;
    --fe-xelix-spacing-96: 24rem;
    --fe-xelix-spacing-0\.5: 0.125rem;
    --fe-xelix-spacing-1\.5: 0.375rem;
    --fe-xelix-spacing-2\.5: 0.625rem;
    --fe-xelix-spacing-3\.5: 0.875rem;
    --fe-xelix-sizes-0: 0rem;
    --fe-xelix-sizes-1: 0.25rem;
    --fe-xelix-sizes-2: 0.5rem;
    --fe-xelix-sizes-3: 0.75rem;
    --fe-xelix-sizes-4: 1rem;
    --fe-xelix-sizes-5: 1.25rem;
    --fe-xelix-sizes-6: 1.5rem;
    --fe-xelix-sizes-7: 1.75rem;
    --fe-xelix-sizes-8: 2rem;
    --fe-xelix-sizes-9: 2.25rem;
    --fe-xelix-sizes-10: 2.5rem;
    --fe-xelix-sizes-11: 2.75rem;
    --fe-xelix-sizes-12: 3rem;
    --fe-xelix-sizes-14: 3.5rem;
    --fe-xelix-sizes-16: 4rem;
    --fe-xelix-sizes-20: 5rem;
    --fe-xelix-sizes-24: 6rem;
    --fe-xelix-sizes-28: 7rem;
    --fe-xelix-sizes-32: 8rem;
    --fe-xelix-sizes-36: 9rem;
    --fe-xelix-sizes-40: 10rem;
    --fe-xelix-sizes-44: 11rem;
    --fe-xelix-sizes-48: 12rem;
    --fe-xelix-sizes-52: 13rem;
    --fe-xelix-sizes-56: 14rem;
    --fe-xelix-sizes-60: 15rem;
    --fe-xelix-sizes-64: 16rem;
    --fe-xelix-sizes-72: 18rem;
    --fe-xelix-sizes-80: 20rem;
    --fe-xelix-sizes-96: 24rem;
    --fe-xelix-sizes-0\.5: 0.125rem;
    --fe-xelix-sizes-1\.5: 0.375rem;
    --fe-xelix-sizes-2\.5: 0.625rem;
    --fe-xelix-sizes-3\.5: 0.875rem;
    --fe-xelix-sizes-xs: 20rem;
    --fe-xelix-sizes-sm: 24rem;
    --fe-xelix-sizes-md: 28rem;
    --fe-xelix-sizes-lg: 32rem;
    --fe-xelix-sizes-xl: 36rem;
    --fe-xelix-sizes-2xl: 42rem;
    --fe-xelix-sizes-3xl: 48rem;
    --fe-xelix-sizes-4xl: 56rem;
    --fe-xelix-sizes-5xl: 64rem;
    --fe-xelix-sizes-6xl: 72rem;
    --fe-xelix-sizes-7xl: 80rem;
    --fe-xelix-sizes-8xl: 90rem;
    --fe-xelix-sizes-prose: 65ch;
    --fe-xelix-sizes-full: 100%;
    --fe-xelix-sizes-min: min-content;
    --fe-xelix-sizes-max: max-content;
    --fe-xelix-sizes-fit: fit-content;
    --fe-xelix-sizes-breakpoint-sm: 640px;
    --fe-xelix-sizes-breakpoint-md: 768px;
    --fe-xelix-sizes-breakpoint-lg: 1024px;
    --fe-xelix-sizes-breakpoint-xl: 1280px;
    --fe-xelix-sizes-breakpoint-2xl: 1536px;
    --fe-xelix-animations-spin: spin 1s linear infinite;
    --fe-xelix-animations-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    --fe-xelix-animations-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --fe-xelix-animations-bounce: bounce 1s infinite;
    --fe-xelix-breakpoints-sm: 640px;
    --fe-xelix-breakpoints-md: 768px;
    --fe-xelix-breakpoints-lg: 1024px;
    --fe-xelix-breakpoints-xl: 1280px;
    --fe-xelix-breakpoints-2xl: 1536px;
}

  @keyframes spin {
    to {
      transform: rotate(360deg);
}
}

  @keyframes ping {
    75%,100% {
      transform: scale(2);
      opacity: 0;
}
}

  @keyframes pulse {
    50% {
      opacity: 0.5;
}
}

  @keyframes bounce {
    0%,100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
}

    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
}
}
}

@layer utilities{

  .fe-xelix-c_turquoise {
    color: turquoise;
}

  .fe-xelix-c_yellow {
    color: yellow;
}
}